src/main/webapp/files/xsd/myXml.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://search.yahoo.com/mrss/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="thumbnail">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="url" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mrss:thumbnail" xmlns:mrss="http://search.yahoo.com/mrss/"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="url" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>